<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @developer.logo.url(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @developer.description %>
</p>

<p>
  <strong>Games:</strong>
  <ul>
    <% @developer.games.each do |game| %>
      <li><%= game.title %> <%= link_to "Details", game_path(game) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
