<p id="notice"><%= notice %></p>


<p>
  <strong>Image:</strong>
  <%= image_tag @platform.image.url(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @platform.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @platform.description %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @platform.vendor %>
</p>

<p>
  <strong>Games:</strong>
  <ul>
    <% @platform.games.each do |game| %>
      <li><%= game.title %> <%= link_to "Details", game_path(game) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
